{% include 'components/header.html' %}

<section class="text-gray-600 body-font">
    <div class="container px-2 py-18 mx-auto flex flex-wrap items-center">
        <div id="borrowed-book-bar" class="mx-4 mt-4 h-full w-full bg-gray-200 p-8 rounded mb-5 hidden">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="block w-5 h-5 text-gray-400 mb-4"
                 viewBox="0 0 975.036 975.036">
                <path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
            </svg>
            <h1 class="title-font font-black text-xl text-gray-900 mb-6">Buku yang Anda pinjam</h1>
            <form method="post" action="/confirmation">
                <input id="borrowed-book-data" type="text" name="borrowed-books" value="" hidden/>
                <div id="borrowed-book-bar-list"></div>
                <div class="mt-4 mt-mb-0 text-right">
                    <button type="submit"
                            class="text-white bg-indigo-500 border-0 py-2 px-4 focus:outline-none hover:bg-indigo-600 rounded">
                        Konfirmasi Peminjaman
                    </button>
                </div>
            </form>
        </div>
        <div class="flex flex-wrap w-full px-4 mt-2 mb-4">
            <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
                <h1 class="sm:text-3xl text-2xl font-black title-font mb-2 text-gray-900">Daftar Buku</h1>
                <div class="h-1 w-20 bg-indigo-500 rounded"></div>
            </div>
        </div>
        {% for book in books %}
        <div class="p-4 md:w-1/4">
            <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden pb-6">
                <img class="lg:h-80 md:h-46 w-full object-cover object-center" src="{{ book.getThumbnail() }}"
                     alt="cover">
                <div class="p-6">
                    <h2 class="tracking-widest text-xs title-font font-bold text-indigo-500 mb-1">{{ book.getCategory()
                        }}</h2>
                    <h1 class="title-font text-lg font-medium text-gray-900 mb-3">{{ book.getJudulBuku() }}</h1>
                    <div class="mt-4">
                        <button class="float-right text-white bg-indigo-500 hover:bg-indigo-600 border-0 py-1 px-3 focus:outline-none rounded text-md"
                                onclick="addBorrowedBook({{ book.getId() }}, '{{ book.getThumbnail() }}', '{{ book.getJudulBuku() }}')">
                            Pinjam
                        </button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<script type="text/javascript">
    let borrowedBookBar, borrowedBookBarList;

    document.addEventListener('DOMContentLoaded', function () {
        borrowedBookBar = document.getElementById('borrowed-book-bar');
        borrowedBookBarList = document.getElementById('borrowed-book-bar-list');
    });

    function addBorrowedBook(id, thumbnail, name) {
        borrowedBookBar = document.getElementById('borrowed-book-bar');
        borrowedBookBarList = document.getElementById('borrowed-book-bar-list');
        if (!borrowedBookBar || !borrowedBookBarList) return;
        if (!promptBorrowBook(id, name)) return;
        let currentBorrowedBooks = document.getElementById('borrowed-book-data');
        let oldData = currentBorrowedBooks.value ? JSON.parse(currentBorrowedBooks.value) : [];
        oldData.push(id);
        currentBorrowedBooks.value = JSON.stringify(oldData);
        let item = document.createElement('a');
        item.id = `borrowed-book-item-${id}`;
        item.classList.add('inline-flex', 'items-center', 'mb-4', 'mr-4', 'p-4', 'rounded', 'bg-white', 'border', 'border-indigo-500');
        item.innerHTML = `
            <img alt="${name}" src="${thumbnail}" class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center">
            <span class="flex-grow flex flex-col pl-4">
                <span class="title-font font-medium text-gray-900">${name}</span>
            </span>
            <svg onclick="removeBorrowedBook(${id}, this)" class="w-5 h-5 rounded-full flex-shrink-0 object-cover object-center ml-4 order-menu-item-delete" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <polyline points="3 6 5 6 21 6"></polyline>
                <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
                <line x1="10" y1="11" x2="10" y2="17"></line>
                <line x1="14" y1="11" x2="14" y2="17"></line>
            </svg>
        `;
        borrowedBookBarList.appendChild(item);
        if (borrowedBookBar.classList.contains('hidden')) toggleBorrowBar();
    }

    function promptBorrowBook(id, name) {
        let currentBorrowedBooks = document.getElementById('borrowed-book-data');
        let oldData = currentBorrowedBooks.value ? JSON.parse(currentBorrowedBooks.value) : [];
        if (oldData.includes(id)) {
            alert(`Buku ${name} telah Anda masukkan ke daftar peminjaman!`);
            return false;
        }
        return window.confirm(`Anda yakin ingin meminjam buku ${name} ? 🤔`);
    }

    function removeBorrowedBook(id, itemTarget) {
        let currentBorrowedBooks = document.getElementById('borrowed-book-data');
        if (currentBorrowedBooks) {
            let oldData = currentBorrowedBooks.value ? JSON.parse(currentBorrowedBooks.value) : [];
            oldData = oldData.filter(i => i !== id);
            currentBorrowedBooks.value = JSON.stringify(oldData);
            const item = itemTarget.parentElement;
            if (item) borrowedBookBarList.removeChild(item);
            if (borrowedBookBarList.childElementCount <= 0 && !borrowedBookBar.classList.contains('hidden')) toggleBorrowBar();
        }
    }

    function toggleBorrowBar() {
        if (!borrowedBookBar) return;
        borrowedBookBar.classList.toggle('hidden');
    }
</script>

{% include 'components/footer.html' %}